body
  background: #F0F0F0
  color: #3A4145
  font-family: 'Open Sans', sans-serif
  font-size: 1.7em
  line-height: 1.6em

h2
  color: #222
  font-size: 2em
  letter-spacing: -1px
  font-weight: bold
  line-height: 1.2em
  text-indent: -2px
