- var pageTitle = 'Deskripsi Kuliah'

include presentation-header

include menu

article#presentation


	section
		h2 Teknologi Kolaborasi Pengembangan Perangkat Lunak
		h3 TI0056
		ul
			li Hardy, S.Kom., M.Sc.
			li Alex Albert Xandra Sim, S.Kom., M.T.


	section
		h2 Deskripsi Mata Kuliah
		ul
			li Memperkenalkan mahasiswa terhadap teknologi kolaborasi pengembangan perangkat lunak. 
			li Penekanan teknologi di mata kuliah ini adalah Version Control dan Bug Report.
			li Fokus utama adalah pengerjaan projek sederhana (BeSpoke).
			li Mahasiswa yang sudah menyelesaikan mata kuliah diharapan mampu bekerja sama dalam tim.

	section
		h2 Silabus
		ul
			li User Story
			li Scrum
			li Version Control
			li Bug Report
			li BeSpoke Project

	section
		h2 Pelaksanaan Perkuliahan
		ul
			li Terdapat dua dosen paralel:
				p
					ol
						li Hardy, S.Kom., M.Sc. (hardy@mikroskil.ac.id)
						li Alex Xandra Albert Sim, S.Kom., M.Kom. (alex.sim@mikroskil.ac.id)
			li Dua metode: Tatap muka dan E-Learning
			li Enrollment key: tkppl2014
			li Jumlah Pertemuan: 14 kali

	section
		h2.bullet Software yang Dibutuhkan
		hr
		ul
			li Version Control <a href="http://git-scm.com/">Git</a>
			li Kolaborasi Git <a href="http://github.com/">GitHub</a>
			li Tool Version Control (Windows) <a href="http://www.sourcetreeapp.com/">SourceTree</a>
			li Tool Kolaborasi <a href="http://trello.com">Trello</a>
			li Tool Proyek <a href="http://markdalgleish.com/projects/bespoke.js/">BeSpoke.js</a>
			li Bug Tracker <a href="http://github.com/">GitHub's Bug Tracker</a> dan <a href="http://www.redmine.org/">RedMine</a>
	section
		h2 Penilaian
		ul
			li Tugas : UTS : UAS = 30 : 20 : 50

	section
		h1 Fin
		
include presentation-footer
include main-footer
