- var pageTitle = 'Pengenalan TKPPL'

include presentation-header

include menu

article#presentation

	section
		h2 Teknologi Kolaborasi Pengembangan Perangkat Lunak
		h3 Pengantar 
		h4 Objektif: Mahasiswa bisa memahami gambaran besar mata kuliah Teknologi Kolaborasi Pengembangan Perangkat Lunak (TKPPL)

	section
		h2 Kenapa belajar TKPPL?
		ul
			li Pengembangan perangkat lunak kadang-kadang perlu dikerjakan dalam tim.
			li Koordinasi yang bagus antara rekan tim adalah faktor utama kesuksesan projek.
			li Perlunya teknologi dan metode kerjasama antar rekan tim.

	section
		h2 Kerjasama Tim
		h3 Tim bekerja seperti ahli bedah di ruang UGD.
		img.big(src="images/surgicalTeam.png")

	section
		h2 Apa yang dibutuhkan?
		h3 Koordinasi
		img.big(src="images/teamCoordination.png")

	section
		h2 Pembangunan Perangkat Lunak
		h3 (Software Construction)
		blockquote.
			(Software) construction is mostly coding and debugging but also involves 
			elements of detailed design, unit testing, integration, 
			integration testing, and other activities.
			<small>Steven C. McConnell</small>

	section
		h2 Software Construction
		img(src="images/construction.png")

	section(data-bespoke-hash='programming-flow')
		h2 Programming Flow
		img.big(src="images/CodingFlow.png")

	section(data-bespoke-hash='programming-flow-focused')
		h2 Programming Flow
		h3 Fokus Pembelajaran
		img.big(src="images/CodingFlowFocused.png")

	section
		h2 Studi Kasus
		ul
			li <a href="files/github-github-github.pdf">Proses Pengembangan Github</a>

include presentation-footer
include main-footer