!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Teknologi Kolaborasi Pengembangan Perangkat Lunak

    link(rel='stylesheet', type='text/css', href='bower_components/todc-bootstrap-main/dist/css/bootstrap.min.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body
