doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tutorial PowerPoint

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Tutorial PowerPoint 2013
        hr
      
      section
        h1 Working with your Microsoft Account and OneDrive 
      
      section
        h2 Working with your Microsoft Account and OneDrive
        hr
        ul
            li Many of the new features in Office 2013 are geared towards saving and sharing files online. 
            li To use these features, you'll need to get a free Microsoft account (previously called a Windows Live ID) if you don't already have one. 
            li You can then log in to your Microsoft account to access your OneDrive which is an online storage space for your documents and other files.

      section 
       h2 OneDrive in Microsoft PowerPoint 2013
       img(src="images/office basics/account_onedrive.png")

      section
        h2 Benefits of using a Microsoft Account
        ul
            li Access your files anywhere: You can save files to your OneDrive, so you'll be able to access them from any computer that has an internet connection. This also helps to keep your files safe if anything happens to your computer.
            li Edit documents in your web browser: If you're using a computer that doesn't have Microsoft Office, you can use Office Online (previously known as Office Web Apps) to edit documents in your browser for free. Office Online includes simplified versions of Word, Excel, PowerPoint, and OneNote.
            li Share files: It's easy to share your OneDrive files with friends or coworkers. You can choose whether they can edit or just read the files. This option is great for collaboration because multiple people can edit a document at the same time (also known as co-authoring).

      section
        h2 To sign in to Office 2013:
        h3 In the upper-right corner, click Sign in.
        img(src="images/office basics/account_sign_in.png")
      
      section
        h2 Type your email address and then click Sign in.
        img(src="images/office basics/signin.png")


      section
        h3 Type your password and then click Sign in.
        img(src="images/office basics/password.png")

      section
        h3 Your account name will now appear in the upper-right corner.
        img(src="images/office basics/myaccount.png")
        
      section
        h1 Getting to Know 
        hr      
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Opening PowerPoint 2013
        ul
          li When you open PowerPoint 2013 for the first time, the Start Screen will appear. From here, you'll be able to create a new presentation, choose a template, or access your recently edited presentations.
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 From the Start Screen, locate and select Blank Presentation.
        img(src="images/knowing/openklik.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 A new presentation will appear.
        img(src="images/knowing/openblank.png")
     
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p PowerPoint 2013 is similar to PowerPoint 2010. If you've previously used PowerPoint 2010, PowerPoint 2013 should feel familiar. But if you are new to PowerPoint or have more experience with older versions, you should first take some time to become familiar with the PowerPoint 2013 interface
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h3 PowerPoint 2013 Interface
         hr
         img(src="images/knowing/BACKGROUND_WEB3.png")
    
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 Working with the PowerPoint environment

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         ul
           li If you've previously used PowerPoint 2010 or 2007, PowerPoint 2013 will feel familiar.
           li It continues to use features like the Ribbon and the Quick Access toolbar, where you will find commands to perform common tasks in PowerPoint, as well as Backstage view.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 The Ribbon
         hr
         ul
           li PowerPoint 2013 uses a tabbed Ribbon system instead of traditional menus.
           li The Ribbon contains multiple tabs, each with several groups of commands. You will use these tabs to perform the most common tasks in powerpoint.
           img(src="images/knowing/ribbon.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h3 Exploring the Ribbon
         hr
         p You'll need to move between tabs to perform common tasks in PowerPoint. Knowing where to find the right command will make PowerPoint easier to use.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 1
         hr
         img(src="images/knowing/ribbon1.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 2
         hr
         img(src="images/knowing/ribbon2.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 3
         hr
         img(src="images/knowing/ribbon3.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 4
         hr
         img(src="images/knowing/ribbon4.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 5
         hr
         img(src="images/knowing/ribbon5.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 6
         hr
         img(src="images/knowing/ribbon6.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 7
         hr
         img(src="images/knowing/ribbon7.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 8
         hr
         img(src="images/knowing/ribbon8.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 9
         hr
         img(src="images/knowing/ribbon9.png")
     
      section
         h1 Creating and Opening Presentations
            
      section
         h2 To create a new presentation:
         p
           img(src="images/create/create1.png")
           li Select the File tab to go to Backstage view.
           li Select New on the left side of the window, then click Blank Presentation or choose a theme.
           li A new presentation will appear.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          img(src="images/create/create2.png")
      section
         h2 To open an existing presentation:
         p
           li Select the File tab to go to Backstage view.
           li Select Open.
         img(src="images/create/create3.png")
       section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Select Computer, then click Browse. Alternatively, you can choose OneDrive (previously known as SkyDrive) to open files stored on your OneDrive.
           img(src="images/create/create4.png")
       section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The Open dialog box will appear. Locate and select your presentation, then click Open.
           img(src="images/create/create5.png")

      section
         h2 To create a new presentation from a template:
         p
           li Click the File tab to access Backstage view.
           li Select New. You can click a suggested search to find templates or use the search bar to find something more specific. In our example, we'll search for Business presentations.
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           img(src="images/create/create7.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Select a template to review it.
              img(src="images/create/create8.jpg")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li A preview of the template will appear, along with additional information on how the template can be used.
           li Click Create to use the selected template.
           li A new presentation will appear with the selected template.
           img(src="images/create/create9.png")
      
      section
         h1 Save your Presentation
      
      section
         h2 Save File
         ul
           li PowerPoint offers two ways to save a file: Save and Save As. 
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Save: When you create or edit a presentation, you'll use the Save command to save your changes. You'll use this command most of the time.
           li Save As: You'll use this command to create a copy of a presentation while keeping the original.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 To save a presentation:
         ul
           li You'll also need to pay close attention to where you save the presentation so it will be easy to find later.
         p
           li Locate and select the Save command on the Quick Access Toolbar.
            img(src="images/save/save1.png")
           li If you're saving the file for the first time, the Save As pane will appear in Backstage view.
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li To save the presentation to your computer, select Computer, then click Browse. Alternatively, you can click OneDrive to save the file to your OneDrive.
             img(src="images/save/save2.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The Save As dialog box will appear. Select the location where you wish to save the presentation.
           li Enter a file name for the presentation, then click Save.
             img(src="images/save/save3.png")

      section
          li The presentation will be saved. You can click the Save command again to save your changes as you modify the presentation.
          li You can also access the Save command by pressing CTRL+S on your keyboard

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Slide Basics
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 To insert a new slide:
           li From the Home tab, click the bottom half of the New Slide command.
           img(src="images/slide/s3.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Choose the desired slide layout from the menu that appears.
           img(src="images/slide/s6.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The new slide will appear. Click any placeholder and begin typing to add text. You can also click an icon to add other types of content, like a picture or a chart.
           img(src="images/slide/s5.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           h3 To copy and paste slides:
               li Select the slide you wish to copy in the Slide Navigation pane, then click the Copy command on the Home tab.
           img(src="images/slide/s8.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li In the Slide Navigation pane, click just below a slide (or between two slides) to choose a paste location. A horizontal insertion point will appear.
           img(src="images/slide/s9.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Click the Paste command on the Home tab.
           img(src="images/slide/s10.png")
     
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The slide will appear in the selected location.
           img(src="images/slide/s11.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           h2 Customizing slides
           h3 To format the slide background:
            p
              li Select the Design tab, then click the Format Background command.
              img(src="images/slide/s13.png")
     
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The Format Background pane will appear on the right. Select the desired fill options. In our example, we'll use a Solid fill with a light gold color.
           img(src="images/slide/s14.png") 

      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The background style of the selected slide will update.
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li If desired, you can click Apply to All to apply the same background style to all slides in your presentation.
           img(src="images/slide/s15.jpg")

      section.emphatic-text(data-bespoke-backdrop='emphatic') 
           h3 To apply a theme: 
     
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Select the Design tab on the Ribbon, then click the More drop-down arrow to see all of the available themes.
           img(src="images/slide/s16.png")
 
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Select the desired theme.
           img(src="images/slide/s17.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The theme will be applied to your entire presentation.
           img(src="images/slide/s18.png")

	section
	h2 To select text:
	li Before you can move or arrange text, you'll need to select it.

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li Click next to the text you wish to select, drag the mouse over the text, then release your mouse. The text will be selected.
	img(src="images/text/text1.png")

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	h1 Copying and moving text
	li PowerPoint allows you to copy text that is already on a slide and paste it elsewhere, which can save you time. If you wish to move text, you can cut and paste or drag and drop the text.

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	h2 To copy and paste text:
	li Select the text you wish to copy, then click the Copy command on the Home tab.
	img(src="images/text/text2.png")

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li Place the insertion point where you wish the text to appear.
	li Click the Paste command on the Home tab.
	img(src="images/text/text3.png")
	li The copied text will appear.

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	h2 To cut and paste text:
	li Select the text you wish to move, then click the Cut command.
	img(src="images/text/text4.png")

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li Place the insertion point where you wish the text to appear, then click the Paste command.
	img(src="images/text/text5.png")

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li The text will appear in the new location.
	li You can access the cut, copy, and paste commands by using keyboard shortcuts. Press Ctrl+X to cut, Ctrl+C to copy, and Ctrl+V to paste.

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	h1 Find and Replace
	li When you're working with longer presentations, it can be difficult and time consuming to locate a specific word or phrase. PowerPoint can automatically search your presentation using the Find feature, and it allows you to quickly change words or phrases using the Replace feature.

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	h2 To find text:
	li In our example, we'll use the Find feature to look for specific dog breeds in our presentation.

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li From the Home tab, click the Find command.
	img(src="images/text/find1.png")

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li A dialog box will appear. Enter the text you wish to find in the Find what: field, then click Find Next.
	img(src="images/text/find2.png")

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li If the text is found, it will be selected.
	img(src="images/text/find3.png")

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li Click Find Next to find further instances. If none are found, a dialog box will appear. Click OK.
	img(src="images/text/find4.png")
	li When you are finished, click Close to exit the dialog box.
	li You can also access the Find command by pressing Ctrl+F on your keyboard.

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	h2 To replace text:
	li At times, you may discover that you've repeatedly made a mistake throughout your presentation (such as misspelling someone's name), or that you need to exchange a particular word or phrase for another. You can use the Replace feature to make quick revisions. In our example, we'll replace with word "pounds" with the abbreviation "lbs."

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li From the Home tab, click the Replace command.
	img(src="images/text/find5.png")

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li A dialog box will appear. Type the text you wish to find in the Find what: field.
	li Type the text you wish to replace it with in the Replace with: field, then click Find Next.
	img(src="images/text/find6.png")

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li If the text is found, it will be selected. Review the text to make sure you want to replace it.
	li If you wish to replace it, select one of the replace options. Replace will replace individual instances, and Replace All will replace every instance. In our example, we'll use the Replace option.

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	img(src="images/text/find7.png")

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li The selected text will be replaced.
	img(src="images/text/find8.png")

	section.emphatic-text(data-bespoke-backdrop='emphatic')
	li You'll need to be careful when using the Replace All option. In the example below, changing the word "Pounds" to "lbs." would have been incorrect in this context. You can click Find Next to skip to the next instance without replacing the text.

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')