doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tutorial PowerPoint

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Tutorial PowerPoint 2013

      section
        h1 Working with your Microsoft Account and OneDrive.
		p.
		Many of the new features in Office 2013 are geared towards saving and sharing files online. To use these features, you'll need to get a free Microsoft account (previously called a Windows Live ID) if you don't already have one. You can then log in to your Microsoft account to access your OneDrive which is an online storage space for your documents and other files.
		<img.src="C:\Users\Windows8\Desktop\TKPL\pic1.png">
		p.
		OneDrive was previously called SkyDrive. There's nothing fundamentally different about the way OneDrive works—it's just a new name for an existing service. Over the next few months, you may still see SkyDrive in some Microsoft products.

	  section
        h2 Benefits of using a Microsoft Account
p. Here are a few of the things you'll be able to do with your Microsoft account:

	section
p. Access your files anywhere: You can save files to your OneDrive, so you'll be able to access them from any computer that has an internet connection. This also helps to keep your files safe if anything happens to your computer.
Edit documents in your web browser: If you're using a computer that doesn't have Microsoft Office, you can use Office Online (previously known as Office Web Apps) to edit documents in your browser for free. Office Online includes simplified versions of Word, Excel, PowerPoint, and OneNote.

	section
p. Share files: It's easy to share your OneDrive files with friends or coworkers. You can choose whether they can edit or just read the files. This option is great for collaboration because multiple people can edit a document at the same time (also known as co-authoring).
	
	section
p. If you don't already have a Microsoft account, you can go to the Creating a Microsoft Account lesson in our Microsoft Account tutorial.
      section
	h2 To sign in to Office 2013:
p. When you use Office for the first time, it will ask you to sign in to your Microsoft account. However, if you don't sign in at that time, you can always sign in later.
p. 1. In the upper-right corner, click Sign in.
<img.src="http://content.gcflearnfree.org/topics/233/account_sign_in.png">
p. 2. Type your email address and then click Sign in
<img.src="http://content.gcflearnfree.org/topics/233/account_sign_in_type_email.png">
p. 3.Click on the Password field.
<img.src="http://content.gcflearnfree.org/topics/233/account_sign_in_password_field.png">
p. 4.Type your password and then click Sign in.
<img.src="http://content.gcflearnfree.org/topics/233/account_sign_in_type_password.png">
p. 5.Your account name will now appear in the upper-right corner.
<img.src="http://content.gcflearnfree.org/topics/233/account_sign_in_account_name_appears.png">



      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')