	kdoctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tutorial PowerPoint

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Tutorial PowerPoint 2013
        hr
      
      section
        h1 Working with your Microsoft Account and OneDrive 
      
      section
        h2 Working with your Microsoft Account and OneDrive
        hr
        ul
            li Many of the new features in Office 2013 are geared towards saving and sharing files online. 
            li To use these features, you'll need to get a free Microsoft account (previously called a Windows Live ID) if you don't already have one. 
            li You can then log in to your Microsoft account to access your OneDrive which is an online storage space for your documents and other files.

      section 
       h2 OneDrive in Microsoft PowerPoint 2013
       img(src="images/office basics/account_onedrive.png")

      section
        h2 Benefits of using a Microsoft Account
        ul
            li Access your files anywhere: You can save files to your OneDrive, so you'll be able to access them from any computer that has an internet connection. This also helps to keep your files safe if anything happens to your computer.
            li Edit documents in your web browser: If you're using a computer that doesn't have Microsoft Office, you can use Office Online (previously known as Office Web Apps) to edit documents in your browser for free. Office Online includes simplified versions of Word, Excel, PowerPoint, and OneNote.
            li Share files: It's easy to share your OneDrive files with friends or coworkers. You can choose whether they can edit or just read the files. This option is great for collaboration because multiple people can edit a document at the same time (also known as co-authoring).

      section
        h2 To sign in to Office 2013:
        h3 In the upper-right corner, click Sign in.
        img(src="images/office basics/account_sign_in.png")
      
      section
        h2 Type your email address and then click Sign in.
        img(src="images/office basics/signin.png")


      section
        h3 Type your password and then click Sign in.
        img(src="images/office basics/password.png")

      section
        h3 Your account name will now appear in the upper-right corner.
        img(src="images/office basics/myaccount.png")
        
      section
        h1 Getting to Know 
        hr      
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Opening PowerPoint 2013
        ul
          li When you open PowerPoint 2013 for the first time, the Start Screen will appear. From here, you'll be able to create a new presentation, choose a template, or access your recently edited presentations.
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 From the Start Screen, locate and select Blank Presentation.
        img(src="images/knowing/openklik.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 A new presentation will appear.
        img(src="images/knowing/openblank.png")
     
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p PowerPoint 2013 is similar to PowerPoint 2010. If you've previously used PowerPoint 2010, PowerPoint 2013 should feel familiar. But if you are new to PowerPoint or have more experience with older versions, you should first take some time to become familiar with the PowerPoint 2013 interface
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h3 PowerPoint 2013 Interface
         hr
         img(src="images/knowing/BACKGROUND_WEB3.png")
    
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 Working with the PowerPoint environment

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         ul
           li If you've previously used PowerPoint 2010 or 2007, PowerPoint 2013 will feel familiar.
           li It continues to use features like the Ribbon and the Quick Access toolbar, where you will find commands to perform common tasks in PowerPoint, as well as Backstage view.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 The Ribbon
         hr
         ul
           li PowerPoint 2013 uses a tabbed Ribbon system instead of traditional menus.
           li The Ribbon contains multiple tabs, each with several groups of commands. You will use these tabs to perform the most common tasks in powerpoint.
           img(src="images/knowing/ribbon.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h3 Exploring the Ribbon
         hr
         p You'll need to move between tabs to perform common tasks in PowerPoint. Knowing where to find the right command will make PowerPoint easier to use.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 1
         hr
         img(src="images/knowing/ribbon1.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 2
         hr
         img(src="images/knowing/ribbon2.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 3
         hr
         img(src="images/knowing/ribbon3.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 4
         hr
         img(src="images/knowing/ribbon4.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 5
         hr
         img(src="images/knowing/ribbon5.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 6
         hr
         img(src="images/knowing/ribbon6.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 7
         hr
         img(src="images/knowing/ribbon7.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 8
         hr
         img(src="images/knowing/ribbon8.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 9
         hr
         img(src="images/knowing/ribbon9.png")
     
      section
         h1 Creating and Opening Presentations
            
      section
         h2 To create a new presentation:
         p
           img(src="images/create/create1.png")
           li Select the File tab to go to Backstage view.
           li Select New on the left side of the window, then click Blank Presentation or choose a theme.
           li A new presentation will appear.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          img(src="images/create/create2.png")
      section
         h2 To open an existing presentation:
         p
           li Select the File tab to go to Backstage view.
           li Select Open.
         img(src="images/create/create3.png")
       section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Select Computer, then click Browse. Alternatively, you can choose OneDrive (previously known as SkyDrive) to open files stored on your OneDrive.
           img(src="images/create/create4.png")
       section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The Open dialog box will appear. Locate and select your presentation, then click Open.
           img(src="images/create/create5.png")

      section
         h2 To create a new presentation from a template:
         p
           li Click the File tab to access Backstage view.
           li Select New. You can click a suggested search to find templates or use the search bar to find something more specific. In our example, we'll search for Business presentations.
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           img(src="images/create/create7.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Select a template to review it.
              img(src="images/create/create8.jpg")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li A preview of the template will appear, along with additional information on how the template can be used.
           li Click Create to use the selected template.
           li A new presentation will appear with the selected template.
           img(src="images/create/create9.png")
      
      section
         h1 Save your Presentation
      
      section
         h2 Save File
         ul
           li PowerPoint offers two ways to save a file: Save and Save As. 
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Save: When you create or edit a presentation, you'll use the Save command to save your changes. You'll use this command most of the time.
           li Save As: You'll use this command to create a copy of a presentation while keeping the original.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 To save a presentation:
         ul
           li You'll also need to pay close attention to where you save the presentation so it will be easy to find later.
         p
           li Locate and select the Save command on the Quick Access Toolbar.
            img(src="images/save/save1.png")
           li If you're saving the file for the first time, the Save As pane will appear in Backstage view.
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li To save the presentation to your computer, select Computer, then click Browse. Alternatively, you can click OneDrive to save the file to your OneDrive.
             img(src="images/save/save2.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The Save As dialog box will appear. Select the location where you wish to save the presentation.
           li Enter a file name for the presentation, then click Save.
             img(src="images/save/save3.png")

      section
          li The presentation will be saved. You can click the Save command again to save your changes as you modify the presentation.
          li You can also access the Save command by pressing CTRL+S on your keyboard

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Slide Basics
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 To insert a new slide:
           li From the Home tab, click the bottom half of the New Slide command.
           img(src="images/slide/s3.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Choose the desired slide layout from the menu that appears.
           img(src="images/slide/s6.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The new slide will appear. Click any placeholder and begin typing to add text. You can also click an icon to add other types of content, like a picture or a chart.
           img(src="images/slide/s5.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           h3 To copy and paste slides:
               li Select the slide you wish to copy in the Slide Navigation pane, then click the Copy command on the Home tab.
           img(src="images/slide/s8.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li In the Slide Navigation pane, click just below a slide (or between two slides) to choose a paste location. A horizontal insertion point will appear.
           img(src="images/slide/s9.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Click the Paste command on the Home tab.
           img(src="images/slide/s10.png")
     
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The slide will appear in the selected location.
           img(src="images/slide/s11.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           h2 Customizing slides
           h3 To format the slide background:
            p
              li Select the Design tab, then click the Format Background command.
              img(src="images/slide/s13.png")
     
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The Format Background pane will appear on the right. Select the desired fill options. In our example, we'll use a Solid fill with a light gold color.
           img(src="images/slide/s14.png") 

      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The background style of the selected slide will update.
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li If desired, you can click Apply to All to apply the same background style to all slides in your presentation.
           img(src="images/slide/s15.jpg")

      section.emphatic-text(data-bespoke-backdrop='emphatic') 
           h3 To apply a theme: 
     
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Select the Design tab on the Ribbon, then click the More drop-down arrow to see all of the available themes.
           img(src="images/slide/s16.png")
 
      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li Select the desired theme.
           img(src="images/slide/s17.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
           li The theme will be applied to your entire presentation.
           img(src="images/slide/s18.png")

      section
          h2 To select text:
          li Before you can move or arrange text, you'll need to select it.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li Click next to the text you wish to select, drag the mouse over the text, then release your mouse. The text will be selected.
          img(src="images/text/text1.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          h1 Copying and moving text
          li PowerPoint allows you to copy text that is already on a slide and paste it elsewhere, which can save you time. If you wish to move text, you can cut and paste or drag and drop the text.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          h2 To copy and paste text:
          li Select the text you wish to copy, then click the Copy command on the Home tab.
          img(src="images/text/text2.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li Place the insertion point where you wish the text to appear.
          li Click the Paste command on the Home tab.
          img(src="images/text/text3.png")
          li The copied text will appear.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          h2 To cut and paste text:
          li Select the text you wish to move, then click the Cut command.
          img(src="images/text/text4.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li Place the insertion point where you wish the text to appear, then click the Paste command.
          img(src="images/text/text5.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li The text will appear in the new location.
          li You can access the cut, copy, and paste commands by using keyboard shortcuts. Press Ctrl+X to cut, Ctrl+C to copy, and Ctrl+V to paste.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          h1 Find and Replace
          li When you're working with longer presentations, it can be difficult and time consuming to locate a specific word or phrase. PowerPoint can automatically search your presentation using the Find feature, and it allows you to quickly change words or phrases using the Replace feature.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          h2 To find text:
          li In our example, we'll use the Find feature to look for specific dog breeds in our presentation.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li From the Home tab, click the Find command.
          img(src="images/text/find1.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li A dialog box will appear. Enter the text you wish to find in the Find what: field, then click Find Next.
          img(src="images/text/find2.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li If the text is found, it will be selected.
          img(src="images/text/find3.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li Click Find Next to find further instances. If none are found, a dialog box will appear. Click OK.
          img(src="images/text/find4.png")
          li When you are finished, click Close to exit the dialog box.
          li You can also access the Find command by pressing Ctrl+F on your keyboard.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          h2 To replace text:
          li At times, you may discover that you've repeatedly made a mistake throughout your presentation (such as misspelling someone's name), or that you need to exchange a particular word or phrase for another. You can use the Replace feature to make quick revisions. In our example, we'll replace with word "pounds" with the abbreviation "lbs."

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li From the Home tab, click the Replace command.
          img(src="images/text/find5.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li A dialog box will appear. Type the text you wish to find in the Find what: field.
          li Type the text you wish to replace it with in the Replace with: field, then click Find Next.
          img(src="images/text/find6.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li If the text is found, it will be selected. Review the text to make sure you want to replace it.
          li If you wish to replace it, select one of the replace options. Replace will replace individual instances, and Replace All will replace every instance. In our example, we'll use the Replace option.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          img(src="images/text/find7.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li The selected text will be replaced.
          img(src="images/text/find8.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li You'll need to be careful when using the Replace All option. In the example below, changing the word "Pounds" to "lbs." would have been incorrect in this context. You can click Find Next to skip to the next instance without replacing the text.
      section.emphatic-text(data-bespoke-backdrop='emphatic')
       
          li If you're using a theme, you'll probably find that your presentation looks pretty good. All of the colors will work well together, which means you won't have to spend as much time formatting your presentation. But there's another great reason to use theme elements: When you switch to a different theme, all of those elements will update to reflect the new theme. You can drastically change the look of your presentation in a few clicks.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          h2. Theme elements
          p Every PowerPoint theme, including the default Office theme, has its own theme elements. Those elements are: 
          li Theme Colors: There are 10 theme colors, along with darker and lighter variations, available from every Color menu.
          img(src="images/applytheme/theme_understand_color.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li Theme Fonts: There are two theme fonts available at the top of the Font menu under Theme Fonts.
          img(src="images/applytheme/theme_understand_font.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
          li Theme Effects: These affect the preset shape styles. You can find shape styles on the Format tab whenever you select a shape or SmartArt graphic.
          img(src="images/applytheme/theme_element_effect.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
          img                                                                                                                   (src="images/applytheme/theme_understand_wisp_integ.png")
         li In our examples above, you can see the effect of applying different themes to the same slide—each theme uses its own fonts and colors. But you may have also noticed that the font and colors of the logo in the bottom-right remained unchanged: This is because they're Standard Colors and Fonts rather than theme elements. Colors and fonts will only update if you're using Theme Fonts or Theme Colors.
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li As you can see from the two different Title Slides above, themes can also change various slide layouts. Some themes, like the Wisp theme in the example below, even include additional layouts.
section.emphatic-text(data-bespoke-backdrop='emphatic')
         img(src="images/applytheme/theme_compare2.png")
	
     section.emphatic-text(data-bespoke-backdrop='emphatic')
         li To apply theme :
	section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Select the Design tab on the Ribbon, then locate the Themes group. Each image represents a theme.
         li Click the More drop-down arrow to see all available themes.
         img(src="images/applytheme/slide_theme_more.png")
         li Select the desired theme.
         img(src="images/applytheme/theme_apply_select.png")
         li The theme will be applied to the entire presentation. To apply a different theme, simply select it from the Design tab.
         img(src="images/applytheme/theme_apply_done.jpg")


     section
         h1 Applying Transitions
    
     section
         h2 About transitions
         br
         p There are three categories of unique transitions to choose from, all of which can be found on the Transitions tab:
           li Subtle: These are the most basic types of transitions. They use simple animations to move between slides.
    
     section.emphatic-text(data-bespoke-backdrop='emphatic')
         img(src="images/trans/tran1.png")
     section.emphatic-text(data-bespoke-backdrop='emphatic')
         p Exciting: These use more complex animations to transition between slides. While they're more visually interesting than Subtle transitions, adding too many can make your presentation look less professional. However, when used in moderation they can add an nice touch between important slides.
     section.emphatic-text(data-bespoke-backdrop='emphatic')
         img(src="images/trans/tran2.png")

     section.emphatic-text(data-bespoke-backdrop='emphatic')
         p Dynamic Content: If you're transitioning between two slides that use similar slide layouts, dynamic transitions will move only the placeholders, not the slides themselves. When used correctly, dynamic transitions can help to unify your slides and add a further level of polish to your presentation.
  
     section.emphatic-text(data-bespoke-backdrop='emphatic')
          img(src="images/trans/tran3.png")
  
     section.emphatic-text(data-bespoke-backdrop='emphatic')
         h3 To apply a transition:
         p
           li Select the desired slide from the Slide Navigation pane. This is the slide that will appear after the transition.
         img(src="images/trans/tran4.jpg")

     section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Click the Transitions tab, then locate the Transition to This Slide group. By default, None is applied to each slide.
         li Click the More drop-down arrow to display all transitions.
         img(src="images/trans/tran5.png")

    section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Click a transition to apply it to the selected slide. This will automatically preview the transition.
         img(src="images/trans/tran6.png") 

     section.emphatic-text(data-bespoke-backdrop='emphatic')
         li You can use the Apply To All command in the Timing group to apply the same transition to all slides in your presentation. Keep in mind that this will modify any other transitions you've applied.
         img(src="images/trans/tran7.png")

     section.emphatic-text(data-bespoke-backdrop='emphatic')
         h3 To preview a transition:
         p
            li Click the Preview command on the Transitions tab.
         img(src="images/trans/tran.png")

     section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Click the Play Animations command in the Slide Navigation pane.
         img(src="images/trans/tran8.jpg")

     section.emphatic-text(data-bespoke-backdrop='emphatic')
         h3 To modify the transition effect:
         p
           li Select the slide with the transition you wish to modify.
           li Click the Effect Options command, and choose the desired option. These options will vary depending on the selected transition.
           li The transition will be modified, and a preview of the transition will appear.

     section.emphatic-text(data-bespoke-backdrop='emphatic')
         img(src="images/trans/tran9.png")
    
     section.emphatic-text(data-bespoke-backdrop='emphatic')
         h3 To modify the transition duration:
         li Select the slide with the transition you wish to modify.
         li In the Duration field in the Timing group, enter the desired time for the transition. In this example, we'll increase the time to two seconds, or 02.00, to make the transition slower.
         img(src="images/trans/tran10.png")
     
     section.emphatic-text(data-bespoke-backdrop='emphatic')
          h3 To add sound:
          p
            li Select the slide with the transition you wish to modify
            li Click the Sound drop-down menu in the Timing group.
    
     section.emphatic-text(data-bespoke-backdrop='emphatic')
          li Click a sound to apply it to the selected slide, then preview the transition to hear the sound.
          img(src="images/trans/tran11.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 About slide views
          li PowerPoint includes several different slide views, which are all useful for various tasks. The slide view commands are located in the bottom-right of the PowerPoint window. There are four main slide views:
          img(src="images/manage/manage1.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li Normal view: This is the default view, where you create and edit slides. You can also move slides in the slide navigation pane on the left.
        img(src="images/manage/manage2.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li Slide sorter: In this view, you'll see a thumbnail version of each slide. You can drag and drop slides to reorder them quickly.
        img(src="images/manage/manage3.jpg")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li Reading view: This view fills the PowerPoint window with a preview of your presentation. It includes easily accessible navigation buttons at the bottom-right.
        img(src="images/manage/manage4.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li Play slide show: This is the view you'll use to present to an audience. This command will begin the presentation from the current slide. You can also press F5 on your keyboard to start from the beginning.
        img(src="images/manage/manage5.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Outline View
        li Outline View shows your slide text in outline form. This allows you to quickly edit your slide text and view the content of multiple slides at once. You could use this layout to review the organization of your slide show and prepare to deliver your presentation.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 To view an outline:
        li From the View tab, click the Outline View command.
        img(src="images/manage/manage6.png")
        li An outline of your slide text will appear in the slide navigation panel.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li You can type directly in the outline to make changes to your slide text.
        img(src="images/manage/manage7.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Slide sections
        li If you have a lot of slides, you can organize them into sections to make your presentation easier to navigate. Sections can be collapsed or expanded in the slide navigation panel and named for easy reference.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 To create slide sections:
        li In our example, we will add two sections: one for dogs that are available for adoption, and another for cats and other pets.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li Select the slide that you want to begin a section.
        img(src="images/manage/manage8.jpg")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li From the Home tab, click the Section command, then choose Add Section from the drop-down menu.
        img(src="images/manage/manage9.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li An Untitled Section will appear in the slide navigation panel.
        img(src="images/manage/manage10.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li To rename the section, click the Section command, then choose Rename Section from the drop-down menu.
        img(src="images/manage/manage11.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li Type the new section name in the dialog box, then click Rename.
        img(src="images/manage/manage12.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li Repeat to add as many sections as you need.
        li In the slide navigation pane, click the arrow next to a section name to collapse or expand it.
        img(src="images/manage/manage13.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li To remove a section, click the Section command, then click Remove Section. You can also click Remove All Sections to remove all sections from your slides.
        img(src="images/manage/manage14.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Print Layouts
        p  PowerPoint includes several different layouts when printing a presentation. The layout you choose will mostly depend on why you're printing the slide show. There are four different print layouts:
    
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        li Full-page slides: This prints a full page for each slide in your presentation. This layout would be most useful if you needed to review or edit a printed copy of your presentation.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         img(src="images/printing/print_layout_slide.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Notes: This prints each slide, along with any speaker notes for the slide. If you've included a lot of notes for each slide, you could keep a printed copy of the notes with you while presenting.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         img(src="images/printing/print_layout_notes.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Outline: This prints an overall outline of the slide show. You could use this layout to review the organization of your slide show and prepare to deliver your presentation. 

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         img(src="images/printing/print_layout_outlineB.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Handouts: This prints thumbnail versions of each slide, with optional space for notes. This layout is especially useful if you want to give your audience a physical copy of the presentation. The optional space allows them to take notes on each slide.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         img(src="images/printing/print_layout_handouts.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h3 To access the print pane
         li Select the File tab. Backstage view will appear.
         img(src="images/printing/know_backstage_file.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Select Print. The Print pane will appear.
         img(src="images/printing/print_backstage_click.png")
 
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Click the buttons in the interactive below to learn more about using the Print pane.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         img(src="images/printing/BACKGROUND.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li You can also access the Print pane by pressing Ctrl+P on your keyboard.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h3 To print a presentation:
         li Select the File tab. Backstage view will appear.
         img(src="images/printing/know_backstage_file(1).png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Select Print. The Print pane will appear.
         img(src="images/printing/print_backstage_click(1).png")
   
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Choose the desired printer and print range.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Chose the desired print layout and color settings.
         img(src="images/printing/print_command_printer_color.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li When you're done modifying the settings, click Print.
         img(src="images/printing/print_command.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 Presenting a slide show
         p Click the Start From Beginning command on the Quick Access toolbar, or press the F5 key at the top of your keyboard. The presentation will appear in full-screen mode.
      section.emphatic-text(data-bespoke-backdrop='emphatic')
      img(src="images/present slide/command.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li You can also click the Play Slide Show command at the bottom of the PowerPoint window to begin a presentation from the current slide.
         img(src="images/present slide/command1.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Click the Slide Show tab on the Ribbon to access even more options. From here, you can start the presentation from the current slide and access advanced presentation options.
      img(src="images/present slide/splat.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 To stop a slide show :
         p You can exit presentation mode by clicking the Esc key on your keyboard. Alternatively, you can click the Slide Show Options button in the bottom-left and then select End Show.
         img(src="images/present slide/command2.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li The presentation will also end after the last slide. You can click the mouse or press the space bar to return to Normal view.
         img(src="images/present slide/command3.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 To access drawing tools:
         p Your mouse pointer can act as pen or highlighter to draw attention to items in your slides.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Locate and select the Pen Tools button in the bottom-left corner.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Select Pen or Highlighter based on your preference.
      img(src="images/present slide/command4.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Click and drag the mouse to mark your slides. You can also press Ctrl+P on your keyboard to access the pen tool while presenting your slide show.
      img(src="images/present slide/mark.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 To show the taskbar:
         p Sometimes you may need to access the Internet or other files and programs on your computer during your presentation. PowerPoint allows you to access your taskbar without ending the presentation.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Locate and select the Slide Options button in the bottom-left corner.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Select Screen, then click Show Taskbar.
         img(src="images/present slide/taskbar1.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Your taskbar will appear. Choose a program you'd like to open, such as a web browser. Click the PowerPoint icon to return to the presentation.
         img(src="images/present slide/nograde.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 Slide options
         p You can also access any of the menu items above by right-clicking anywhere on the screen during your slide show.
         img(src="images/present slide/click.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 To access slide show setup options:

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         li Select the Slide Show tab, then click the Set Up Slide Show command.
         img(src="images/present slide/command5.png")

         li Click the buttons in the interactive below to learn about various options for setting up and playing a slide show.
         img(src="images/present slide/background.png")

         li To advance slides automatically, you'll need to customize the slide timing on the Transitions tab. Review our lesson on Applying Transitions to learn how.
         img(src="images/present slide/automatic.png")

            a(href='http://twitter.com/markdalgleish')  -@markdalgleish//jgn dihapus

    script(src='build/build.js')//jgn d hapus