include header

include menu

div(class="container")
	h2 Teknologi Kolaborasi Pengembangan Perangkat Lunak

	p.
		Mempelajari teknik rekayasa perangkat lunak merupakan hal yang sangat penting
		jika kita ingin mengembangkan perangkat lunak yang berkualitas tinggi. Terdapat
		sangat banyak buku, kuliah, maupun sumber daya lain untuk belajar teknik mengembangkan
		perangkat lunak. Orang-orang yang berkecimpung dalam dunia pengembangan perangkat lunak
		sudah pasti tidak asing lagi dengan berbagai teori pengembangan seperti metode Waterfall
		ataupun teknik pengembangan seperti <i>design pattern</i>. 

	p.
		Satu hal yang tak kalah pentingnya dari teknik dan metode pengembangan perangkat lunak
		adalah peralatan yang kita gunakan untuk mengembangkan perangkat lunak. Peralatan yang
		digunakan dalam mengembangkan sesuatu seringkali menjadi penentu kualitas hasil pengembangan
		yang cukup signifikan. Seorang pengerajin kayu yang baik pasti mengetahui berbagai jenis 
		gergaji yang ada, beserta kapan tepatnya kita harus menggunakan tiap-tiap gergaji. Jika
		ingin mengembangkan perangkat lunak berkualitas tinggi, sebagai seorang pengembang kita juga
		harus mengetahui peralatan apa saja yang dapat membantu kita dalam mengembangkan perangkat lunak,
		beserta kapan perangkat pengembangan tersebut cocok digunakan. 

	p.
		Karya tulis ini dibuat agar pembaca dapat melihat dan mempelajari beberapa peralatan 
		yang membantu kita dalam mengembangkan perangkat lunak berkualitas tinggi. Kita tidak hanya akan
		berfokus ke bagaimana menggunakan perangkat pengembangan, tetapi juga bagaimana perangkat-perangkat
		pengembangan ini dapat diintegrasikan ke dalam proses dan metode pengembangan perangkat lunak.

	p.
		Karena keterbatasan waktu, pembahasan hanya akan dibatasi pada satu metode pengembangan, yaitu SCRUM.
		Perangkat pengembangan yang akan kita pelajari juga akan dibatasi, yaitu hanya
		<a href="https://git-scm.com/">kontrol versi (git)</a>, 
		<a href="https://trello.com/">perangkat kolaborasi (Trello)</a>, dan
		<a href="http://www.redmine.org/">perangkat manajemen proyek</a>. Pembahasan mengenai berbagai metode 
		pengembangan dan perangkat pengembangan akan ditambahkan seiring dengan berjalannya waktu.

	h2 Sumber Bacaan

	p.
		Berikut adalah sumber-sumber tulisan lain yang dapat dibaca untuk mengakrabkan diri dengan 
		berbagai hal yang akan dibahas dalam materi ini:

	ul
		li <a href="http://bertzzie.com/post/39/tools-wajib-untuk-programmer">Tools Wajib untuk Programmer</a>
		li <a href="http://blog.codinghorror.com/software-development-as-a-collaborative-game/">Software Development as a Collaborative Game</a>

include main-footer