doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tutorial PowerPoint

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Tutorial PowerPoint 2013
        hr

      section
        h2 Working with your Microsoft Account and OneDrive
        hr
        ul
            li Many of the new features in Office 2013 are geared towards saving and sharing files online. 
            li To use these features, you'll need to get a free Microsoft account (previously called a Windows Live ID) if you don't already have one. 
            li You can then log in to your Microsoft account to access your OneDrive which is an online storage space for your documents and other files.

      section 
       h2 OneDrive in Microsoft PowerPoint 2013
       img(src="images/office basics/account_onedrive.png")

      section
        h2 Benefits of using a Microsoft Account
        ul
            li Access your files anywhere: You can save files to your OneDrive, so you'll be able to access them from any computer that has an internet connection. This also helps to keep your files safe if anything happens to your computer.
            li Edit documents in your web browser: If you're using a computer that doesn't have Microsoft Office, you can use Office Online (previously known as Office Web Apps) to edit documents in your browser for free. Office Online includes simplified versions of Word, Excel, PowerPoint, and OneNote.
            li Share files: It's easy to share your OneDrive files with friends or coworkers. You can choose whether they can edit or just read the files. This option is great for collaboration because multiple people can edit a document at the same time (also known as co-authoring).

      section
        h2 To sign in to Office 2013:
        h3 In the upper-right corner, click Sign in.
        img(src="images/office basics/account_sign_in.png")
      
      section
        h2 Type your email address and then click Sign in.
        img(src="images/office basics/signin.png")


      section
        h3 Type your password and then click Sign in.
        img(src="images/office basics/password.png")

      section
        h3 Your account name will now appear in the upper-right corner.
        img(src="images/office basics/myaccount.png")
        
      section
        h2 Getting to Know PowerPoint 
        hr      
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Opening PowerPoint 2013
        ul
          li When you open PowerPoint 2013 for the first time, the Start Screen will appear. From here, you'll be able to create a new presentation, choose a template, or access your recently edited presentations.
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 From the Start Screen, locate and select Blank Presentation.
        img(src="images/knowing/openklik.png")
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 A new presentation will appear.
        img(src="images/knowing/openblank.png")
     
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p PowerPoint 2013 is similar to PowerPoint 2010. If you've previously used PowerPoint 2010, PowerPoint 2013 should feel familiar. But if you are new to PowerPoint or have more experience with older versions, you should first take some time to become familiar with the PowerPoint 2013 interface
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h3 PowerPoint 2013 Interface
         hr
         img(src="images/knowing/BACKGROUND_WEB3.png")
    
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 Working with the PowerPoint environment

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         ul
           li If you've previously used PowerPoint 2010 or 2007, PowerPoint 2013 will feel familiar.
           li It continues to use features like the Ribbon and the Quick Access toolbar, where you will find commands to perform common tasks in PowerPoint, as well as Backstage view.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h2 The Ribbon
         hr
         ul
           li PowerPoint 2013 uses a tabbed Ribbon system instead of traditional menus.
           li The Ribbon contains multiple tabs, each with several groups of commands. You will use these tabs to perform the most common tasks in powerpoint.
           img(src="images/knowing/ribbon.png")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h3 Exploring the Ribbon
         hr
         p You'll need to move between tabs to perform common tasks in PowerPoint. Knowing where to find the right command will make PowerPoint easier to use.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 1
         hr
         img(src="images/knowing/ribbon1.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 2
         hr
         img(src="images/knowing/ribbon2.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 3
         hr
         img(src="images/knowing/ribbon3.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 4
         hr
         img(src="images/knowing/ribbon4.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 5
         hr
         img(src="images/knowing/ribbon5.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 6
         hr
         img(src="images/knowing/ribbon6.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 7
         hr
         img(src="images/knowing/ribbon7.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 8
         hr
         img(src="images/knowing/ribbon8.png")
      section.emphatic-text(data-bespoke-backdrop='emphatic')
         h4 Tab 9
         hr
         img(src="images/knowing/ribbon9.png")

section.emphatic-text(data-bespoke-backdrop='emphatic')
h2 To create a new presentation:
ul
   li Select the File tab to go to Backstage view.
img(src="images/create/create1.png")
ul
   li Select New on the left side of the window, then click Blank Presentation or choose a theme.

section.emphatic-text(data-bespoke-backdrop='emphatic')
img(src="images/create/create2.png")
ul
   li A new presentation will appear.

section.emphatic-text(data-bespoke-backdrop='emphatic')
h2 To open an existing presentation:
ul
   li Select the File tab to go to Backstage view.
   li Select Open.

section.emphatic-text(data-bespoke-backdrop='emphatic')
img(src="images/create/create3.png")
ul
   li Select Computer, then click Browse. Alternatively, you can choose OneDrive (previously known as SkyDrive) to open files stored on your OneDrive.

section.emphatic-text(data-bespoke-backdrop='emphatic')
img(src="images/create/create4.png")

section.emphatic-text(data-bespoke-backdrop='emphatic')
ul
   li The Open dialog box will appear. Locate and select your presentation, then click Open.

section.emphatic-text(data-bespoke-backdrop='emphatic')
h2 To create a new presentation from a template:
ul
   li Click the File tab to access Backstage view.
   li Select New. You can click a suggested search to find templates or use the search bar to find something more specific. In our example, we'll search for Business presentations.

section.emphatic-text(data-bespoke-backdrop='emphatic')
img(src="images/create/create7.png")

section.emphatic-text(data-bespoke-backdrop='emphatic')
ul
   li Select a template to review it.
img(src="images/create/create8.png")

section.emphatic-text(data-bespoke-backdrop='emphatic')
ul
   li A preview of the template will appear, along with additional information on how the template can be used.
   li Click Create to use the selected template.

section.emphatic-text(data-bespoke-backdrop='emphatic')
img(src="images/create/create9.png")
ul
   li A new presentation will appear with the selected template.

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')