nav(class="navbar navbar-default", role="navigation")
	div(class="container")
		div(class="navbar-header")
			button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="presentation-chooser")
				span(class="sr-only")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="navbar-brand", href="index.html") Teknologi Kolaborasi

		div(class="collapse navbar-collapse", id="presentation-chooser")
			ul(class="nav navbar-nav")
				li(class="dropdown")
					a(class="dropdown-toggle", data-toggle="dropdown", href="#") Pilih Presentasi <b class="caret"></b>
					ul(class="dropdown-menu")
						li <a href="1-Introduction.html">Pengenalan Kuliah</a>
						li <a href="2-TeknologiKolaborasi.html">Teknologi Kolaborasi</a>
						li <a href="3-PresentasiDenganBespokeJS.html">Presentasi dengan Bespoke.JS</a>
						li <a href="4-SCRUM.html">SCRUM</a>
						li <a href="5-UserStories.html">User Stories</a>
						li <a href="6-Trello.html">Trello dan Bug Reporting</a>
						li <a href="7-PengenalanKontrolVersi.html">Kontrol Versi</a>
						li <a href="8-DasarKontrolVersi.html">Dasar Kontrol Versi</a>
						li <a href="9-Commit.html">Commit</a>
						li <a href="10-LogDanHistory.html">Log dan History</a>
						li <a href="6-TugasBeSpoke.html">Tugas Be Spoke</a>
						li <a href="11-TimeMachine.html">Time Machine</a>
						li <a href="12-PushDanPull.html">Push dan Pull</a>
						li <a href="13-Branching.html">Branching (Percabangan)</a>
						li <a href="14-GitFlow.html">GitFlow Workflow</a>
