script(src='bower_components/bespoke.js/dist/bespoke.min.js')
script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
script(src='bower_components/prism/prism.js')
script(src='bower_components/prism/components/prism-bash.min.js')
script(src='scripts/main.js')
